@import '../../sass/main.scss';

.products {
  padding: 0 3.2rem 9.6rem 3.2rem;

  h2 {
    font-size: $heading-secondary;
    letter-spacing: -1px;
    margin-bottom: 5rem;
  }

  .container {
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }
}
